:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --accent-color-footer: #ff0070;
  --title-text-color: #db00ff;
  --title-decor-bg-color: #ff0070;
  --title-decor-text-color: #000028;
  --btn-text-color: #ff0070;
  --btn-border-color: #ff0070;
  --rgba-btn-border-color: 255, 0, 112;
  --text-color: #f1b2ce;
  --corner-color: #ff0070;
  --chapter-title-text-color: #ff0070;
}
