:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-color-footer: #ff0070;
  --title-text-color: #ffc2e6;
  --title-decor-bg-color: #ff8dcb;
  --title-decor-text-color: #353430;
  --btn-text-color: #353430;
  --btn-border-color: #353430;
  --rgba-btn-border-color: 50, 49, 45;
  --text-color: #353430;
  --corner-color: #353430;
  --chapter-title-text-color: #353430;
}

.theme-light .rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-text-color: #ffc2e6;
    --title-decor-bg-color: #ff8dcb;
    --title-decor-text-color: #353430;
    --btn-text-color: #353430;
    --btn-border-color: #353430;
    --rgba-btn-border-color: 50, 49, 45;
    --text-color: #353430;
    --corner-color: #353430;
    --chapter-title-text-color: #353430;
  }

  .theme-light .rec,
  .theme-auto .rec {
    visibility: hidden;
  }
}
